<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>James Marotta</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/Users/Titan/sites/week6/4Thur/css/jquery.pagepiling.css">
	<link rel="stylesheet" href="/Users/Titan/sites/week6/4Thur/css/style.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


	<body>

		<!--navbar  start  -->
		<nav class="navbar navbar-bg navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar" aria-expanded="false">

          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
					<a class="navbar-brand" data-menuanchor="home" href="#home"> James Marotta </a>
				</div>
				<div class="collapse navbar-collapse main-navbar">
					<ul class="the-main-navbar nav navbar-nav">
						<li data-menuanchor="home" class="active"><a href="#home">Home</a></li>

						<li data-menuanchor="about"><a href="#about"><span>What I'm About </span></a></li>
						<li data-menuanchor="portfolio"><a href="#portfolio"><span>Portfolio</span></a></li>
						<li data-menuanchor="contact"><a href="#contact"><span>Contact</span></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div id="pagepiling">

			<!--video landing page  -->
			<div class="jumbotron section main" id="home">
				<div class="container text-center">


					<div id="vidtop-content">
						<div class="vid-info buffer">
							<h1 clasas>James Marotta</h1>
							<p>{Web Developer} </p>
							<div class="social-btns">
								<a target="_blank" class="btn btn-small" href="https://github.com/j1marotta" role="button">
								 Github</a>
								<a target="_blank" class="btn btn-small" href="https://www.linkedin.com/in/james-marotta-1b1166117/" role="button"><i class="fa-linkedin fa"></i> Linkedin</a>

							</div>
						</div>
					</div>



				</div>
			</div>

			<div class="jumbotron section pp-scrollable about no-margin full-height" id="about">
				<div class="container clearfix">
					<div class="row buffer">

						<div class="col-sm-6 col-lg-6 col-xs-12 pull-left">

							<p>Hi I'm James, I'm a Sydney based web developer with a focus on backend technologies. I enjoy investigating the fundamentals of how things work.</p>

							<p>I've had a long interest in technology and in my spare time I enjoy <s>cooking</s>  going out for food and sharing it with friends.</p>
							<p>I recently did six months of training for an MMA fight, and now I'm focusing the next six on learning how to code.   </p>

						</div>
						<div class="col-sm-6 col-lg-6 col-xs-12 pull-left"><img src="/Users/Titan/sites/week6/1monday/Testing/IMG_9126.jpg" class="img-responsive img-rounded" alt="My Photo"></div>
					</div>
				</div>
			</div>

			<div class="jumbotron section pp-scrollable portfolio full-height" id="portfolio">
				<div class="container">
					<div class="row">
						<div class="col-12 buffer	">
							<!--vertical space buffer  -->
						</div>
						<!-- start of portfolio projects   -->
						<div class="col-sm-4 col-md-4">
							<div class="card ">
								project 1
							</div>

						</div>
						<div class="col-sm-4 col-md-4">
							<div class="card">
								project 2
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="card">
							project 3
						</div>
					</div>
				</div>
			</div>

			<!-- contact page -->
			<div class="jumbotron section no-margin rounded contact full-height" id="contact">
				<div class="container">
					<div class="row">
						<div class="pull-left col-sm-7 col-xs-7 col-md-7">
							<h3>Get In touch!</h3>
						</div>
						<div class="pull-left col-sm-5 col-xs-5 col-md-5">
							<a target="_blank" class="btn-block btn btn-default" href="https://github.com/j1marotta" role="button"><i class="fa-github fa"></i> Github</a>

							<a target="_blank" class="btn-block btn btn-default" href="https://www.linkedin.com/in/james-marotta-1b1166117/" role="button"><i class="fa-linkedin fa"></i> Linkedin</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</body>










	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script type="text/javascript" src="/Users/Titan/sites/week6/4Thur/js/jquery.pagepiling.js"></script>

	<script type="text/javascript" src="/Users/Titan/sites/week6/4Thur/js/index.js">
	</script>
</body>

</html>
