<!--navbar  start  -->
<nav class="navbar navbar-bg navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar" aria-expanded="false">

        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

			<a class="navbar-brand" data-menuanchor="home" href="#home">
				James Marotta
			</a>
		</div>
		<div class="collapse navbar-collapse main-navbar">
			<ul class="the-main-navbar nav navbar-nav">
				<li data-menuanchor="home" class="active">
					<a href="#home">Home</a>
				</li>
				<li data-menuanchor="about">
					<a href="#about">
						<span>What I'm About
						</span>
					</a>
				</li>
				<li data-menuanchor="portfolio">
					<a href="#portfolio">
						<span>Portfolio</span>
					</a>
				</li>
				<li data-menuanchor="contact">
					<a href="#contact">
						<span>Contact</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div id="pagepiling">

	<!-- landing page  -->
	<div class="container-fluid section main" id="home">
		<div class=" text-center">


				<div class="vid-info">
					<h1>James Marotta</h1>
					<p>{ Web Developer }
					</p>

					<div class="social-btns">
						<a target="_blank" class="btn btn-xs" href="https://github.com/j1marotta" role="button">
							Github</a>
						<a target="_blank" class="btn btn-x" href="https://www.linkedin.com/in/james-marotta-1b1166117/" role="button">
							Linkedin</a>

					</div>
				</div>


		</div>
	</div>

<div class="jumbotron section pp-scrollable about full-height" id="about">
	<div class="container clearfix">
			<div class="row buffer">

				<div class="col-sm-6 col-lg-6 col-xs-12 pull-left">

					<p>Hi I'm James, I'm a Sydney based web developer with a focus on backend technologies. I enjoy investigating the fundamentals of how things work.</p>

					<p>I've had a long interest in technology and in my spare time I enjoy
						<s>cooking</s>
						going out for food and sharing it with friends.</p>
					<p>I recently did six months of training for an MMA fight, and now I'm focusing the next six on learning how to code.
					</p>

				</div>
				<div class="col-sm-6 col-lg-6 col-xs-12 pull-left">
					<%=image_tag("IMG_9126.jpg", class: "img-responsive img-rounded", alt: "James")%>
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron section pp-scrollable portfolio full-height" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-12 buffer	">
					<!--vertical space buffer  -->
				</div>
				<!-- start of portfolio projects   -->
				<div class="col-sm-4 col-md-4">
					<div class="card ">
						project 1
					</div>

				</div>
				<div class="col-sm-4 col-md-4">
					<div class="card">
						project 2
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-4">
				<div class="card">
					project 3
				</div>
			</div>
		</div>
	</div>

	<!-- contact page -->
	<div class="jumbotron section contact full-height" id="contact">
		<div class="container">
			<div class="row">
				<div class="text-center col-12">
					<h2>Get In touch!</h2>
				</div>
				<div class="col-12 text-center">
					<a target="_blank" class="align-self-center btn btn-default" href="https://github.com/j1marotta" role="button">
						<i class="fa-github fa"></i>
						Github</a>

					<a target="_blank" class="btn btn-default" href="https://www.linkedin.com/in/james-marotta-1b1166117/" role="button">
						<i class="fa-linkedin fa"></i>
						Linkedin</a>

				</div>
			</div>
		</div>
	</div>
</div>
